<%- include("./partials/header") %>

<!-- <script type="text/javascript" src="/scripts/d3.js"> </script> -->

<% if(message ==1) { %>
<script>
    console.log("KIWI IS SOUR")
    console.log("BANANNNNNNN");
    $.getScript("/scripts/d3.js");
</script>

<%} else { %>
<h1>BANANA</h1>
<% } %>
<%- include("./partials/footer") %>