<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <!--menu-->
    <div id="nav">
        <%- include("./partials/nav") %>
    </div>

    <main id="main">

        <!-- about section, option to hide it-->
        <div id="about">

            <!--button to hide section-->
            <div id="hide-btn">
                <button type="button" id="hide" class="navbar-toggle navbar-toggler .collapse.navbar-collapse"
                    data-toggle="collapse" data-target="#main-collapse">
                    <span class="glyphicon glyphicon-collapse-down js-rotate-opposite"></span> <span
                        style="margin-left: 5px;" id="hidden1"> Hide</span>
                </button>
            </div>

            <!--actual content of section-->
            <div class="collapse navbar-collapse show" id="main-collapse">
                <div id='description'>

                    <p>This tool helps you analyze your eyetracking data by providing five different visualizations you can
                    choose from. <br>
                    To get started, upload a .zip file containing a .csv file for the dataset and jpg, png or jpeg files
                    for the stimuli.
                    </p>

                    <!--uploading dataset and stimuli--> 
                    
                    <form action="/upload" class="form-inline justify-content-center" style="margin-top: 20px;" enctype="multipart/form-data" method="post">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" accept=".zip" name= "upload" id="fileUpload">
                                <label class="custom-file-label justify-content-start" for="fileUpload">Select ZIP file</label>
                            </div>
                            <div class="input-group-append">
                              <input class="btn btn-outline-dark" type="submit" value="Submit"></button>
                            </div>
                          </div>
                    </form>
                
                    <p style="margin-top: 16px;">Use the menu to choose your dataset, your stimulus, navigate between the various types of
                    visualizations, or export a visualization.</p>
                </div>
            </div>
        </div>
        <br>
        <div id="vis-descr">
            <h3>Visualization Types</h3>
            <p style="text-align: center;">Description of visualization types coming soon...</p>
        </div>
        <div id="visualization"></div>
    </main>
</body>

</html>