<!DOCTYPE html>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <script type="text/javascript" src="/scripts/visualization.js"></script>
    </head>

    <body>
        <header>
            <%- include("./partials/header") %>
        </header>
        
        <nav class="navbar position-absolute" role="navigation">
            <div class="container-fluid">

                <!-- Menu header  -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-clr" data-toggle="collapse" data-target="#navbar-collapse-1" id="menu">
                        <span class="glyphicon glyphicon-align-justify"></span> <span style="margin-left: 5px;"> Menu</span>
                    </button>
                </div>
          
                <!-- Menu links  -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav menulinks">
                        <li>
                            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn" data-toggle="collapse" data-target="#navbar-collapse-files">
                                <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span style="margin-left: 5px;"> Files</span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar-collapse-files">
                                <div>
                                    <p>Visualization</p>
                                    <select id="datasetsMenu"></select> <br>
                                    <select id="stimuliMenu"></select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd" data-toggle="collapse" data-target="#navbar-collapse-vis1">
                                <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span style="margin-left: 5px;"> Vis 1</span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar-collapse-vis1">
                                <p>something</p>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn" data-toggle="collapse" data-target="#navbar-collapse-vis2">
                                <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span  style="margin-left: 5px;"> Vis 2</span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar-collapse-vis2">
                                <p>something</p>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd" data-toggle="collapse" data-target="#navbar-collapse-vis3">
                                <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span style="margin-left: 5px;"> Vis 3</span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar-collapse-vis3">
                                <p>something</p>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn" data-toggle="collapse" data-target="#navbar-collapse-vis4">
                                <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span style="margin-left: 5px;"> Vis 4</span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar-collapse-vis4">
                                <p>something</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main id="main">
            
            <!-- main section, this will need to decrease in size when visualization is chosen + need to add the option to hide it-->
            <div id="about">
                <p>This tool helps you analyze your eyetracking data by providing four different visualizations you can choose from. <br>
                    To get started, upload a .zip file containing a .csv file for the dataset and jpg, png or jpeg files for the stimuli.
                </p>
                <form action="/upload" enctype="multipart/form-data" method="post">
                    <input type="file" name="upload">
                    <input type="submit">
                </form>
                <br>
                <p>Use the menu to choose your stimulus, navigate between the various types of visualizations, or export a visualization.</p>
            </div>
        
            <br>
            <div id="visualization"></div>

        </main>
    </body>
</html>