<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <script type="text/javascript" src="/scripts/visualization.js"></script>
    </head>
    <body>
        <header>
            <%- include("./partials/header") %>
        </header>
        <main>
            <div>
                <p>Upload a .zip file containing a .csv file for the dataset and .jpg files for the stimuli. The dataset takes on the name of the .zip file.</p>
                <form action="/upload" enctype="multipart/form-data" method="post">
                    <input type="file" name="upload">
                    <input type="submit">
                </form>
            </div>
            <div>
                <p>Visualization</p>
                <select id="datasetsMenu"></select>
                <select id="stimuliMenu"></select>
            </div>
            <br>
            <div id="visualization"></div>
        </main>
    </body>
</html>