<!DOCTYPE html>

<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <p>Dataset has succesfully been uploaded! You will be redirected back in a moment...</p>
        <script>
            setTimeout(() => { document.location = document.referrer }, 3000)
        </script>
    </body>
</html>