@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

html,
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f0e9ed;
}

div.output {
    font-family: inherit;
    background: palevioletred;
    color: black;
    position: absolute;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    pointer-events: none;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #aadadd;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    margin:auto;
    margin-top: 0;
}

header > h4 {
    margin-top:0;
}

header > h1 {
    margin-bottom:0;
    margin-top: 10px;
}

main {
    width: 90vw;
    max-width: 90vw;
    margin-left: 5vw;
    margin-top: 20px;
    text-align: center;
}

nav {
    width: 250px;
    background-color: black;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 57px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.xsicon {
    font-size: 10px;
}

select {
    margin-bottom: 3px;
}

button:focus {
    outline: 0;
}

.btn-outline-dark {
    background-color: white;
    font-size: 14px;
}

.blue-clr {
    color: #aadadd;
}

.blue-btn {
    background-color: #aadadd;
    color: black;
    width: 100%;
    text-align: left;
    margin-top: 2px;
}

.blue-brd {
    border: 1px solid #aadadd;
    color: #aadadd;
    width: 100%;
    text-align: left;
    margin-top: 2.3px;
}

.black-btn {
    color: white;
    height: 25px;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 2.3px;
}

.menulinks {
    margin-left: 0;
    margin-top: 6px;
    padding-bottom: 6px;
}

.menuText {
    margin-left: 5px;
}

.invisibleLink {
    text-decoration: none;
    color: black;
}

.invisibleLink:hover {
    text-decoration: none;
    color: black;
}

#about {
    background-color: #d9edee;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

#vis-descr {
    background-color: #d9edee;
    border: 1px solid black;
    border-radius: 4px;
    text-align: justify;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
}

#vis-descr > h3 {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* text in the section to upload */
#description {
    padding: 10px;
}

/* rotates glyphicons when the menu links are expanded */
[data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-collapsed {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
[data-toggle="collapse"][aria-expanded="false"] > .js-rotate-opposite {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#hide-btn {
    text-align: left;
}

.view {
    z-index: 100;
}

#visualization {
    border: 1px solid black;
    background-color: #d9edee;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
}

#visualizationGrid {
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
}

.init {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}

.init4 {
    display: inline-block;
    width: 49%;
    margin-top: 7px;
    margin-bottom: 5px;
    text-align: center;
}
.reset4 {
    display: inline-block;
    width: 49%;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}

.init:hover, .reset4:hover {
    box-shadow: 0 0 3px #f0e9ed inset; 
    background-color: black; 
    color: white;
    border-color: #f0e9ed;
}

/* needed to prevent vis4 sliders from moving when numbers change */
.val {
    width: 10px;
}

.smallMargRight {
    margin-right: 10px;
}

.smallMargTop {
    margin-top: 10px;
}

.smallMargBottom {
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

#vis1, #vis4 {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #d9edee;
}

@media (max-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
    header > h4 {
        display: none;
    }
}

@media (max-width: 650px) {
    header > h1 {
        margin-bottom: 30px;
    }
}
