@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

html, body {
    font-family: "Montserrat", sans-serif;
    background-color: #f0e9ed;
}

div.output {
    font-family: inherit;
    background: palevioletred;
    color: black;
    position: absolute;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    pointer-events: none;
}

/* from here on: Chiara Liotta (1414755)  */

/* scroll bar in menu */
html {
    --scrollbarBG: rgba(238, 238, 238, 0);
    --thumbBG: rgba(170,218,221,0.5);
}

#navbar-collapse-1::-webkit-scrollbar {
    width: 3px;
}

#navbar-collapse-1 {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    max-height: calc(100vh - 34px - 57px);
    overflow-y: auto;
}

#navbar-collapse-1::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

#navbar-collapse-1::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* header style */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #aadadd;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    margin:auto;
    margin-top: 0;
}

header > h4 {
    margin-top:0;
}

header > h1 {
    margin-bottom:0;
    margin-top: 10px;
}

/* main element style */
main {
    width: 90vw;
    max-width: 90vw;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* menu style */
nav {
    width: 250px;
    background-color: black;
    color: white;
    font-size: 12px;
    top: 57px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* small icons in menu */
.xsicon {
    font-size: 10px;
}

select {
    margin-bottom: 3px;
}

button:focus {
    outline: 0;
}

/* menu buttons style */
.btn-outline-dark {
    background-color: white;
    font-size: 14px;
}

.blue-clr {
    color: #aadadd;
}

.blue-btn {
    background-color: #aadadd;
    color: black;
    width: 100%;
    text-align: left;
    margin-top: 2px;
}

.blue-brd {
    border: 1px solid #aadadd;
    color: #aadadd;
    width: 100%;
    text-align: left;
    margin-top: 2.3px;
}

/* button for data format */
.black-btn {
    color: white;
    height: 25px;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 2.3px;
}

/* menu dropdown buttons */
.menulinks {
    margin-left: 0;
    margin-top: 6px;
    padding-bottom: 6px;
}

/* menu button text has left margin */
.menuText {
    margin-left: 5px;
}

/* invisible link in header */
.invisibleLink {
    text-decoration: none;
    color: black;
}

.invisibleLink:hover {
    text-decoration: none;
    color: black;
}

/* about section with upload button */
#about {
    background-color: #d9edee;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 5px 20px 5px 20px;
}

/* text in the section to upload */
#description {
    padding: 10px;
}

/* visualization descriptions section */
#vis-descr {
    background-color: #d9edee;
    border: 1px solid black;
    border-radius: 4px;
    text-align: justify;
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
    height:auto;
}

#vis-descr > h3 {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* rotates glyphicons when the menu links are expanded */
[data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-collapsed {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
[data-toggle="collapse"][aria-expanded="false"] > .js-rotate-opposite {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* white butttons in menu */
.init {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}

/* export buttons */
.init50 {
    width: 49%;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}

/* actual initialize button for linked view */
.init4 {
    display: inline-block;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
    text-align: center;
}

/* reset zoom/slider buttons */
.reset {
    display: inline-block;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}

.init:hover, .reset:hover, .init50:hover{
    box-shadow: 0 0 3px #f0e9ed inset;
    background-color: black;
    color: white;
    border-color: #f0e9ed;
}

/* needed to prevent vis4 sliders from moving when numbers change */
.val {
    width: 10px;
}

.smallMargRight {
    margin-right: 10px;
}

.smallMargTop {
    margin-top: 10px;
}

.smallMargBottom {
    margin-bottom: 10px;
}

/* grid for scanpath and heatmap */
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    grid: auto-flow dense / 1fr 1fr;
}

/* grid for AOI grid, themeriver, and sankey diagram */
.grid-container2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    grid: auto-flow dense / 1fr 1fr 1fr;
}

/* grid for visualization descriptions */
.descr-grid {
    display: grid;
    grid-template-columns: auto;
    grid: auto-flow dense / 1fr;
}

/* image and description of vis in a row */
.descr-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

/* if window width too small rows become columns */
@media (max-width: 900px) {
    .descr-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* width of image in vis descriptions */
img.descr {
    padding-right:10px;
    width: 400px;
}

/* vis containers */
#vis1, #vis4, #vis3, #aoi, #vis5, #vis2 {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #d9edee;
}

/* if window width too small all vis are in a column */
@media (max-width: 1000px) {
    .grid-container, .grid-container2 {
        display: grid;
        grid-template-columns: auto;
    }
    header > h4 {
        display: none;
    }
}

@media (max-width: 650px) {
    header > h1 {
        margin-bottom: 30px;
    }
}

/* margin separating vis grids */
.sep {
    margin-top: 10px;
}
