@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

html,
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f0e9ed;
}

header {
    display: flex;
    width: 100%;
    background-color: #aadadd;
    text-align: center;
    height: 110px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 0;
}

main {
    width: calc(90vw - 10px);
    max-width: 90vw;
    margin-left: 5vw;
    margin-top: 20px;
    text-align: center;
}

nav {
    width: 250px;
    background-color: black;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 77px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.output {
    font-family: inherit;
    background: palevioletred;
    position: absolute;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    pointer-events: none;
}

.xsicon {
    font-size: 10px;
}

select {
    margin-bottom: 3px;
}

button:focus {
    outline: 0;
}


.btn-outline-dark {
    background-color: white;
    font-size: 14px;
}

.blue-clr {
    color: #aadadd;
}

.blue-btn {
    background-color: #aadadd;
    color: black;
    width: 100%;
    text-align: left;
    margin-top: 2px;
}

.blue-brd {
    border: 1px solid #aadadd;
    color: #aadadd;
    width: 100%;
    text-align: left;
    margin-top: 2.3px;
}

.menulinks {
    margin-left: 0;
    margin-top: 6px;
    padding-bottom: 6px;
}

.menuText {
    margin-left: 5px;
}

.invisibleLink {
    text-decoration: none;
    color: black;
}

.invisibleLink:hover {
    text-decoration: none;
    color: black;
}

#about {
    background-color: #d9edee;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 5px 20px 10px 20px;
}

#description {
    padding: 10px;
}

/* rotates glyphicons when the menu links are expanded */
[data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-collapsed {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
[data-toggle="collapse"][aria-expanded="false"] > .js-rotate-opposite {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#hide-btn {
    text-align: left;
}

.view {
    z-index: 100;
}

#visualization:empty {
    border: none;
}

#visualization {
    border: 2px solid black;
    background-color: #d9edee;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
}

#vis-container {
    margin-bottom: 30px;
}

.init {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}

.init4, .reset4 {
    display: inline-block;
    width: 49%;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
}

.init:hover, .init4:hover, .reset4:hover {
    box-shadow: 0 0 3px #f0e9ed inset; 
    background-color: black; 
    color: white;
    border-color: #f0e9ed;
}
