<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Eyevis</title>

<link rel="icon" type="image/png" sizes="16x16" href="/icons/16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/icons/48.png">
<link rel="icon" type="image/png" sizes="96x96" href="/icons/96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/icons/144.png">
<link rel="icon" type="image/png" sizes="192x192" href="/icons/192.png">

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/main.css">

<script src="/scripts/jquerycode.js" defer></script>
<script type="module" src="/scripts/visualization.js" defer></script>
<script src="https://d3js.org/d3-contour.v1.min.js"></script>


