<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Eyevis</title>

<link rel="icon" type="image/png" sizes="16x16" href="/icons/16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/icons/48.png">
<link rel="icon" type="image/png" sizes="96x96" href="/icons/96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/icons/144.png">
<link rel="icon" type="image/png" sizes="192x192" href="/icons/192.png">

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.7/loadingoverlay.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/save-svg-as-png/1.4.17/saveSvgAsPng.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.2.1/jscolor.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
<script src="/scripts/sankey.js"></script>

<link rel="stylesheet" href="/stylesheets/main.css">
<script type="module" src="/scripts/jquerycode.js"></script>
<script type="module" src="/scripts/visualization.js"></script>
