<nav class="navbar position-absolute" role="navigation">

    <div class="container-fluid">

        <!-- Menu header  -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-clr"
                data-toggle="collapse" data-target="#navbar-collapse-1" id="menu">
                <span class="glyphicon glyphicon-align-justify"></span> <span class="menuText"> Menu</span>
            </button>
        </div>

        <!-- Menu links  -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav menulinks">
                <li>
                    <!--Files-->
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-files">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Files</span>
                    </button>
                    <!--Files: tools-->
                    <div class="collapse navbar-collapse" id="navbar-collapse-files">
                        <div>
                            <span>Select dataset</span>
                            <select class="custom-select" id="datasets-menu"></select> <br>
                        </div>
                    </div>
                </li>
                <li id="vis-one">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-vis1">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Vis 1</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis1">
                        <div>
                            <span>Select stimulus and user</span>
                            <select class="custom-select" id="stimuli-menu"></select> <br>
                            <select class="custom-select" id="user-menu"></select>
                        </div>
                    </div>
                </li>
                <li id="vis-two">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-vis2">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Vis 2</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis2">
                        <div>
                            <span>Select stimulus and user</span>
                            <select class="custom-select" id="stimuli-menu"></select> <br>
                            <select class="custom-select" id="user-menu"></select>
                        </div>
                    </div>
                </li>
                <li id="vis-three">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-vis3">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Vis 3</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis3">
                        <div>
                            <span>Something</span>
                        </div>
                    </div>
                </li>
                <li id="vis-four">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-vis4">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Vis 4</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis4">
                        <div>
                            <div>
                                <span>Select stimulus and user</span>
                                <select class="custom-select" id="stimuli-menu"></select> <br>
                                <select class="custom-select" id="user-menu"></select>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="vis-five">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-vis5">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Vis 5</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis5">
                        <div>
                            <span>Something</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
