<nav class="navbar position-absolute" role="navigation">

    <div class="container-fluid">

        <!-- Menu header  -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-clr"
                data-toggle="collapse" data-target="#navbar-collapse-1" id="menu">
                <span class="glyphicon glyphicon-align-justify"></span> <span class="menuText"> Menu</span>
            </button>
        </div>

        <!-- Menu links  -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav menulinks">
                <li>
                    <!--Files-->
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-files">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Files</span>
                    </button>
                    <!--Files: tools-->
                    <div class="collapse navbar-collapse" id="navbar-collapse-files">
                        <div>
                            <span>Select dataset and stimulus</span>
                            <select class="custom-select" id="datasets-menu"></select>
                            <select class="custom-select" id="stimuli-menu"></select>
                        </div>
                    </div>
                </li>
                <li id="vis-one">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-vis1">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Scanpath</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis1">
                        <div>
                            <button type="button" class="btn btn-default init" id="init-vis1">(Re)Initialize</button> <br>
                            <span>Select single user</span>
                            <select class="custom-select" id="user-menu"></select>
                            <span>Color picker dot</span> <br>
                            <select class="custom-select" id="color-dot">
                                <option selected value="steelblue">steelblue</option>
                                <option value="green">green</option>
                                <option value="red">red</option>
                                <option value="pink">pink</option>
                                <option value="black">black</option>
                            </select> <br>
                            <span>Color picker line</span> <br>
                            <select class="custom-select" id="color-line">
                                <option selected value="">red</option>
                                <option value="green">green</option>
                                <option value="white">white</option>
                                <option value="yellow">yellow</option>
                                <option value="black">black</option>
                            </select> <br>
                        </div>
                    </div>
                </li>
                <li id="vis-two">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-vis2">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Vis 2</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis2">
                        <div>
                            <button type="button" class="btn btn-default init" id="init-vis2">(Re)Initialize</button> <br>
                            <span>Select single user</span>
                            <select class="custom-select" id="user-menu"></select>
                        </div>
                    </div>
                </li>
                <li id="vis-three">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-vis3">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Vis 3</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis3">
                        <div>
                            <button type="button" class="btn btn-default init" id="init-vis3">(Re)Initialize</button> <br>
                            <span>Something</span>
                        </div>
                    </div>
                </li>
                <li id="vis-four">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-vis4">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Heatmap</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis4">
                        <div>
                            <div>
                                <button type="button" class="btn btn-default init4" id="init-vis4">(Re)Initialize</button>
                                <button type="button" class="btn btn-default reset4" id="reset4">Reset zoom</button> <br>
                                <span>Select user</span>
                                <select class="custom-select" id="user-menu"></select>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="vis-five">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-vis5">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText">Scarf plot</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis5">
                        <div>
                            <button type="button" class="btn btn-default init" id="init-vis5">(Re)Initialize</button>
                            <span>Grid size:</span><input type="number" min="2" max="8" value="3"><span>x</span><input type="number" min="2" max="8" value="3">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>