<nav class="navbar position-absolute" id="navigation" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-clr"
                data-toggle="collapse" data-target="#navbar-collapse-1" id="menu" height="40px">
                <span class="glyphicon glyphicon-align-justify"></span> <span class="menuText"> Menu</span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1" ss-container>
            <ul class="nav navbar-nav menulinks">
                <li id="home">
                    <button type="button" class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse init"
                        id="retHome">
                        <span class="glyphicon glyphicon-home xsicon"></span><span class="menuText"> Home</span>
                    </button>
                </li>
                <li>
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-files">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Dataset</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-files">
                        <div class="smallMargTop smallMargBottom">
                            <span>Select dataset, stimulus, and user</span><br>
                            <select class="custom-select smallMargTop" id="datasets-menu"></select>
                            <select class="custom-select" id="stimuli-menu"></select>
                            <select class="custom-select" id="users-menu"></select><br>
                        </div>
                        <button type="button" class="btn btn-primary init4 smallMargBottom"
                            id="initialize">Initialize</button>
                    </div>
                </li>
                <li id="zoom">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-zoom">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Zoom</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-zoom">
                        <div class="smallMargTop smallMargBottom">
                            <span class="smallMargRight">Scanpath & Heatmap: </span>
                            <button type="button" class="btn btn-default reset smallMargBottom" id="reset4">Reset</button>
                            <span class="smallMargRight">ThemeRiver: </span>
                            <button type="button" class="btn btn-default reset smallMargBottom" id="reset3">Reset</button>
                        </div>
                    </div>
                </li>
                <li id="vis-one">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-vis1">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Point-based: Scanpath</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-vis1">
                        <div class="smallMargTop smallMargBottom">
                            <span class="smallMargRight">Color Picker Line: </span><input
                                class="smallMargTop smallMargBottom" data-jscolor="{closeButton:true}" value="FF0000" id="line"><br>
                            <span class="smallMargRight">Color Picker Circle: </span><input
                                class="smallMargTop smallMargBottom" data-jscolor="{closeButton:true}" value="4682b4" id="circle"><br>
                            <span>Button changes both line and circle color if modified</span>
                            <button type="button" class="btn btn-default init smallMargTop" id="colorPick">Change
                                color</button>
                        </div>
                    </div>
                </li>
                <li id="vis-four">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-vis4">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText"> Point-based: Heatmap</span>
                    </button>
                    <div class="collapse navbar-collapse text-justify" id="navbar-collapse-vis4">
                        <div class="smallMargTop smallMargBottom">
                            <div>
                                <span class="smallMargTop">Heatmap type</span> <br>
                                <div class="smallMargTop smallMargBottom">
                                    <select class="custom-select" id="heatmapType">
                                        <option selected value="duration">Relative gaze duration</option>
                                        <option value="count">Fixation count</option>
                                    </select>
                                </div>
                                <span>Color gradient</span> <br>
                                <div class="smallMargTop smallMargBottom">
                                    <select class="custom-select" id="gradType">
                                        <option selected value="classic">Classic</option>
                                        <option value="pinkBlue">Pink to blue</option>
                                        <option value="colorBlind">Color-blind friendly (blue)</option>
                                    </select> <br>
                                </div>
                                <span class="text-center">Hover over the dots to find out coordinates and fixation
                                    duration for each fixation point.</span> <br><br>
                                <span class="smallMargTop">Circle radius</span>
                                <div class="d-flex justify-content-center my-4 w-100 smallMargTop">
                                    <form class="range-field">
                                        <input id="sliderRadius" class="border-0 slider" type="range" min="0" max="5"
                                            value="1.6" step="0.1" />
                                    </form>
                                    <span class="font-weight-bold text-primary ml-2 mt-1 valueRad val"></span>
                                </div>
                                <span>Bandwidth (standard deviation)</span>
                                <div class="d-flex justify-content-center my-4 w-100">
                                    <form class="range-field">
                                        <input id="sliderBand" class="border-0 slider" type="range" min="0" max="40"
                                            value="20" step="1" />
                                    </form>
                                    <span class="font-weight-bold text-primary ml-2 mt-1 valueBand val"></span>
                                </div>
                                <span>Contour opacity</span>
                                <div class="d-flex justify-content-center my-4 w-100">
                                    <form class="range-field">
                                        <input id="sliderAlpha" class="border-0 slider" type="range" min="0" max="1"
                                            value="0.3" step="0.1" />
                                    </form>
                                    <span class="font-weight-bold text-primary ml-2 mt-1 valueAlpha val"></span>
                                </div>
                                <button type="button" class="btn btn-default init" id="reset-sliders4">Reset
                                    sliders</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="vis-aoi">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-btn"
                        data-toggle="collapse" data-target="#navbar-collapse-aoi">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText">AOI-based visualizations</span>
                    </button>
                    <div class="collapse navbar-collapse text-justify" id="navbar-collapse-aoi">
                        <span class="smallMargRight smallMargTop">Grid size:</span><input
                            class="smallMargTop smallMargRight" type="number" min="2" max="6" value="3"><span
                            class="smallMargRight">x</span><input type="number" min="2" max="6" value="3"><br><br>
                        <span>Color gradient</span>
                        <div class="smallMargTop smallMargBottom">
                            <select class="custom-select" id="colorType">
                                <option selected value="rainbow">Rainbow</option>
                                <option value="cool">Cool</option>
                                <option value="blue">Color-blind friendly (blue)</option>
                            </select> <br>
                        </div>
                        <div class="smallMargTop smallMargBottom">
                            <span class="smallMargTop"><b>Themeriver:</b></span>
                            <br>
                            <span class="smallMargTop">Time interval length</span>
                            <div class="d-flex justify-content-center my-4 w-100">
                                <form class="range-field">
                                    <input id="sliderInterval" class="border-0 slider" type="range" min="100"
                                        max="7000" value="800" step="100" />
                                </form>
                                <span class="font-weight-bold text-primary ml-2 mt-1 valueInterval val"></span>
                            </div>
                            <span class="smallMargTop">Standard or normalized graph</span> <br>
                            <select class="custom-select smallMargTop smallMargBottom" id="offset-option">
                                <option selected value="d3.stackOffsetSilhouette">Standard</option>
                                <option value="d3.stackOffsetExpand">Normalized</option>
                            </select>
                            <span class="text-center smallMargTop">For normalized, it is recommended to choose a time interval length
                                such that there are no empty time intervals</span> <br>
                        </div>
                    </div> 
                </li>
                <li id="exportSection">
                    <button type="button"
                        class="navbar-toggle collapsed navbar-toggler .collapse.navbar-collapse blue-brd"
                        data-toggle="collapse" data-target="#navbar-collapse-export">
                        <span class="glyphicon glyphicon-chevron-right xsicon js-rotate-if-collapsed"></span> <span
                            class="menuText">Export</span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse-export">
                        <button type="button" height='20px' id="exportScanpath" class="btn btn-default init50 smallMargTop">
                            <span class="glyphicon glyphicon-save xsicon"></span><span class="menuText"> Scanpath</span>
                        </button>
                         <button type="button" height='20px' id="exportHeatmap" class="btn btn-default init50 smallMargTop">
                            <span class="glyphicon glyphicon-save xsicon"></span><span class="menuText"> Heatmap</span>
                        </button>
                        <button type="button" height='20px' id="exportAOIGrid" class="btn btn-default init50">
                            <span class="glyphicon glyphicon-save xsicon"></span><span class="menuText"> AOI Grid</span>
                        </button>
                        <button type="button" height='20px' id="exportThemeRiver" class="btn btn-default init50">
                            <span class="glyphicon glyphicon-save xsicon"></span><span class="menuText"> ThemeRiver</span>
                        </button>
                        <button type="button" height='20px' id="exportSankeyDiagram" class="btn btn-default init50">
                            <span class="glyphicon glyphicon-save xsicon"></span><span class="menuText"> Sankey</span>
                        </button>
                        <button type="button" height='20px' id="exportScarfPlot" class="btn btn-default init50">
                            <span class="glyphicon glyphicon-save xsicon"></span><span class="menuText"> Scarf Plot</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
